.container
    header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
      a.head(href="/" class="text-dark text-decoration-none fs-4") Game Shop

      //- ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
      //-   li
      //-     a(href="#" class="nav-link px-2 link-secondary") Home
      //-   li
      //-     a(href="#" class="nav-link px-2 link-secondary") Features
      //-   li
      //-     a(href="#" class="nav-link px-2 link-secondary") Pricing
      //-   li
      //-     a(href="#" class="nav-link px-2 link-secondary") FAQs
      //-   li
      //-     a(href="#" class="nav-link px-2 link-secondary") About
     
      .col-md-3.text-end
        a.cart(href="/cart" type="button" class="btn btn-primary") 
          i(class="bi bi-cart4")
          span 0
        if user
          a.user(href="" type="button" class="btn btn-primary")= user.firstname 
          a.form-logout(type="button" class="btn btn-outline-primary me-2") Logout
        else 
          a(href="/login" type="button" class="btn btn-outline-primary me-2") Login
          a(href="/singup" type="button" class="btn btn-primary") Sign-up

      

        
