doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css")
        link(rel="stylesheet", href="css/style.css")
        title #{title}


        

                
        body
        
        include _header 
        
        block content
            .container-md
                .row     
                                                 
                    .col(class="d-flex justify-content-center")
                        <button type="button" class="btn btn-primary m-3" style="width: 150px">Console</button>
                        <button type="button" class="btn btn-primary m-3" style="width: 150px">Game</button>
                        <button type="button" class="btn btn-primary m-3" style="width: 150px">Accessory</button>
                .row       
                    p.fs-4(class="d-flex justify-content-center") New Game    
                .row
                    img(src="img/splatoon3.png" class="rounded mx-auto d-block" alt="product")
                
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js")
        
        include _footer
   
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js")
