extends base

block content
    .container.product-container
        //- .product-head
        //-     h4.product-title Product
        //-     h4.price Price
        //-     h4.quantity Quantity
        //-     h4.total Total
        //- .products 
            

        table.table
            thead 
                tr 
                    th 
                    th Product
                    th Price
                    th Quantity
                    th Total
            tbody.table-cart 

