extends base

block content
    .container
        .row
            each game in items
                .col-sm-4               
                    .card
                        .card-body 
                            h5.card-title= game.name
                            img.img-item(src=`img/${game.image}`, alt="image-game" )
                            p.text-end= `Price ${game.price} THB`
                            a.buy(class="btn btn-light" href="#" type="button") buy 
            
            