extends base

block content
    .container
        .row
            h1.text-center Game
            each item in items
                .col-sm-4               
                    .card
                        .card-body 
                            h5.card-title= item.name
                            //- p(name='item-id')= item.id
                            img.img-item(src=`img/${item.image}`, alt="image-game" )
                            p.text-end= `Price ${item.price} THB`
                            button.buy(class="btn btn-light") buy 
            


